#result {
  display: none;
}

.jumbotron {
  background-color: MediumAquamarine;
  color: white;
}

body {
  background-color: lightsalmon;
}

#submit {
  background-color: MediumAquamarine;
}

#submit:hover {
  background-color: #8cd9bf;
  border: 1px solid;
  color: white;
}

#refresh {
  background-color: white;
  color: black
}

#refresh:hover {
  background-color: lightsalmon;
  border: 1px solid;
  color: white;
}

.form-group h2 {
  font-family: sans-serif;
  font-weight: bold;
}

.resultNumber {
  color: white;
  font-size: larger;
}

.panel-heading {
  background-color: MediumAquamarine;
  text-align: center;
}

.panel {
  margin-top: : 30px;
}

input {
  text-align: center
}

#numberInput:hover {
  border: 2px solid grey;
}

#numberInput {
  width: 50%;
}
